h1 {
    font-size: 20px;
    text-align: center;
    color: #333;
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style: none;
}

#menu {
    text-align: center;
    color: #333;
    text-decoration: underline;
    font-size: 26px;
    padding: 12px;
}

#horaires {
    color: #333;
    padding: 10px;
}

h3 {
    font-size: 18px;
    text-align: center;
}

p {
    text-align: center;
}